.customers__list {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.customers__link {
	@include position(flex, center, center);
	width: 170px;
	height: 92px;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	color: #afb1b8;

	transition: color 250ms var(--cubic), border-color 250ms var(--cubic);

	&:hover,
	&:focus {
		color: var(--accent-color);
		border-color: var(--accent-color);
	}
}

.customers__icon {
	fill: currentColor;
}
